@charset "UTF-8";
.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  right: 0;
  position: absolute;
  font-family: font-family "Bebas Neue", sans-serif;
}
.nav-list li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5em;
  font-size: 1.9rem;
}
.nav-list li a:hover {
  text-decoration: underline;
  color: #EEFB03;
}
.nav-list li:hover a {
  text-decoration: underline;
  color: #EEFB03;
}
.nav-list li:first-child a {
  color: #EEFB03;
  margin-right: 4rem;
}

.abrir-menu,
.cerrar-menu,
#cerrar {
  display: none;
}

/* Inicio */
/* Estilos generales para los títulos 'Javier' y 'Vázquez' */
.titulo-javier,
.titulo-vazquez {
  margin-left: 3rem;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

/* Estilos específicos para el título 'Javier' */
.titulo-javier {
  font-size: 10rem;
  margin-left: 1.5rem;
  margin-top: 10rem;
}

/* Estilos específicos para el título 'Vázquez' */
.titulo-vazquez {
  font-size: 11rem;
  margin-left: 3.125rem;
}

/* Estilos para el contenedor "batman" */
.batman {
  position: relative;
}

/* Estilos para la imagen dentro del contenedor '.batman', posicionamiento y tamaño */
.batman img {
  position: absolute;
  width: 70vw;
  height: auto;
  z-index: -1;
  left: 50vw;
}

/* Estilos para texto adicional en la página, con tipografía específica, tamaño, color y decoración */
.texto-adicional {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #EEFB03;
  margin-left: 5%;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin: 0;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.slide:hover img {
  transform: scale(1.05);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}
#service-body {
  overflow-y: hidden;
}

.contenedor-servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenedor-titulo {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 15%;
}

.titulo-servicios {
  font-size: 7rem;
  color: white;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

.texto-servicios {
  font-size: 2rem;
  color: #EEFB03;
  text-decoration: underline;
  text-align: center;
  margin-top: -6rem;
}

.contenedor-grid {
  display: flex;
  justify-content: flex-end;
  padding: auto;
  margin-left: 20%;
}

.grid-servicios {
  display: grid;
  grid-template-columns: auto;
  margin-left: auto;
  margin-top: 6rem;
}

.service-item {
  display: flex;
  align-items: center;
}

.service-item img {
  width: 10%;
  margin-right: 1rem;
  animation: pulse 2s ease-in-out infinite;
}

.additional-title {
  font-size: 3rem;
  color: #EEFB03;
  margin: 5px 0;
}

.p-ser {
  font-size: 1.6rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes gradient-shift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.plan-container {
  display: grid;
  font-size: 1.5rem;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.plan {
  display: grid;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid #ccc;
}
.plan:last-child {
  border-right: none;
}

.plan-button {
  margin-top: auto;
  padding: 10px 20px;
  width: auto;
  display: grid;
  justify-content: space-around;
  background-image: linear-gradient(to right, gold, white, gold);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  animation: gradient-shift 3s ease-in-out infinite;
  transition: transform 1s ease, background-color 0.3s ease;
}
.plan-button:hover {
  background-color: gold;
  transform: scale(1.12);
  background-image: none;
}

.plan-img {
  width: 15%;
  height: auto;
  animation: pulse 2s ease-in-out infinite;
}

.plbs {
  color: #EEFB03;
  font-size: 3.5rem;
  margin-top: -1rem;
}

.ulp {
  color: white;
  font-size: 1.7rem;
  text-shadow: 2px 2px 2px #5e5000;
  text-align: start;
}

.ph4 {
  font-size: 1.6em;
  display: grid;
  margin-top: auto;
  color: #7bffa7;
  align-items: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto form {
  width: 100%;
  max-width: 80%;
  font-size: 2.5rem;
}
.contacto label {
  margin-bottom: 10px;
  font-weight: bold;
}
.contacto input[type=text],
.contacto input[type=email],
.contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #EEFB03;
  border-radius: 5px;
  font-size: 1.5rem;
}
.contacto textarea {
  height: 50%;
}
.contacto button {
  display: flex;
  background-color: #EEFB03;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
}
.contacto button:hover {
  background-color: rgb(255, 208, 0);
  transition: 0.2s ease;
}

/* Estilos Base */
body {
  background-color: black;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2rem;
  position: relative;
}

/* Estilo global para listas */
ul {
  text-align: right;
}

/* Titulo páginas*/
.titulo-paginas {
  font-size: 7rem;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: -200% center;
  }
}
/* Texto debajo de titulos */
.texto-paginas {
  font-size: 2rem;
  color: #EEFB03;
  text-decoration: underline;
  text-align: center;
  margin-top: -6rem;
}

/* Footer: Estilos para el pie de página, asegurando que se mantenga al final y ocupe el ancho completo */
footer {
  margin-top: auto;
  width: 100%;
}

/* Contenedor dentro del footer para posicionar el texto o contenido adicional */
.p-footer {
  position: relative;
  z-index: 10;
}

/* Estilos específicos para el párrafo dentro del contenedor del footer */
.p-footer p {
  font-size: 1rem;
  margin: 0;
}

/*Estilos específicos de cada página*/
/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /*inicio*/
  .batman img {
    width: 90%;
  }
  .logo {
    display: none;
  }
  /* Estilos para botones de menú en vista móvil */
  .header {
    position: relative;
  }
  .abrir-menu,
  .cerrar-menu {
    display: flex;
    border: 0;
    font-size: 4rem;
    background-color: transparent;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
  }
  /* Estilos para la navegación en vista móvil */
  .nav {
    position: absolute;
    top: 65%;
    right: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    align-items: end;
    visibility: hidden;
    margin-top: 5rem;
    margin-right: 1rem;
  }
  /* Estilo para el primer elemento de la lista de navegación en móvil */
  .nav-list li:first-child a {
    color: #EEFB03;
    margin-right: 0;
  }
  /* Estilos para mostrar la navegación cuando está activa en móvil */
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  /* Ajuste de la lista de navegación  */
  .nav-list li a {
    padding: 0;
    font-size: 1.3rem;
  }
  /* Contenedor para los títulos, con alineación al inicio */
  .titulo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  /* Estilos base para los títulos 'Javier' y 'Vázquez' */
  .titulo-javier,
  .titulo-vazquez {
    font-size: 6rem;
    margin-left: 0;
    text-align: center;
  }
  /* Estilo específico para aumentar el tamaño en 'título Vázquez' */
  .titulo-vazquez {
    font-size: 7rem;
  }
  /* Estilo para el contenedor principal, ocultando desbordamiento */
  .index-cont {
    overflow: hidden;
  }
  /* Posicionamiento relativo para un elemento, aquí 'batman' */
  .batman {
    position: relative;
    overflow: hidden;
  }
  /* Estilo para la imagen dentro del contenedor 'batman', con posicionamiento absoluto */
  .batman img {
    overflow: hidden;
  }
  /* Estilos para texto adicional, con énfasis en color y subrayado */
  .texto-adicional {
    font-size: 2rem;
    font-weight: normal;
    color: #EEFB03;
    text-decoration: underline;
  }
  /*Logo*/
  /* Estilos para el logotipo */
  .logo {
    position: relative;
    margin-top: -3rem;
    margin-left: -2rem;
  }
  .logo img {
    width: 35%;
    height: auto;
    max-width: 100%;
  }
  /* Estilos para el contenedor de títulos de las páginas */
  .contenedor-paginas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para los títulos y textos de las páginas */
  .titulo-paginas,
  .texto-paginas {
    margin-top: 3rem;
    padding: 0;
  }
  .titulo-paginas {
    font-size: 5rem;
    color: white;
  }
  /* Estilos para el texto debajo de los títulos */
  .texto-paginas {
    font-size: 1.5rem;
    margin-top: -4rem;
  }
  /*Proyectos*/
  .grid-container {
    overflow-y: auto;
  }
  .slide img {
    object-fit: contain; /* Hace que la imagen se ajuste dentro del contenedor sin cortarse */
    height: auto; /* Ajusta la altura para mantener la proporción */
    max-height: 50vh; /* Limita la altura de la imagen a un porcentaje de la altura de la ventana */
  }
  /*Servicios*/
  .titulo-servicios {
    font-size: 5rem;
    left: 0;
    right: 0;
  }
  .contenedor-titulo {
    text-align: center;
    margin-right: -1rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .contenedor-servicios {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .texto-servicios {
    font-size: 1.5rem;
    color: #EEFB03;
    text-decoration: underline;
    text-align: center;
    margin-top: -4rem;
  }
  /* Contenedor para la grilla de servicios, alineado al final */
  .contenedor-grid {
    display: grid;
    margin-right: 2rem;
    margin-top: -6rem;
    margin-left: 0;
  }
  /* Diseño de grilla para elementos de servicio, con una sola columna */
  .grid-servicios {
    display: grid;
    grid-template-columns: auto;
  }
  /* Estilo para cada item de servicio, utilizando flexbox */
  .service-item {
    display: flex;
    align-items: center;
  }
  /* Estilo para imágenes dentro de los items de servicio */
  .service-item img {
    width: 15%;
    margin-right: 1rem;
  }
  /* Estilo para títulos adicionales en la sección de servicios */
  .additional-title {
    font-size: 1.6rem;
    color: #ffee00;
    margin: 0.3rem 0 0 0;
  }
  /* Estilo para párrafos en la sección de servicios */
  .p-ser {
    font-size: 1.2rem;
  }
  /*Planes*/
  /* Contenedor para los planes, usando grid para la disposición */
  .plan-container {
    display: block;
    font-size: 1.2rem;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    text-align: left;
    margin-top: 3rem;
  }
  /* Estilos para cada plan individual */
  .plan {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    border-right: 1px solid #27ad4f;
  }
  /* Botón dentro de cada plan */
  .plan-button {
    margin-top: auto;
    padding: auto;
    width: auto;
    display: grid;
    justify-content: space-around;
  }
  /* Efecto al pasar el mouse sobre el botón */
  .plan-button:hover {
    background-color: #EEFB03;
    transition: 0.5s ease;
  }
  /* Estilos para el último plan del contenedor */
  .plan:last-child {
    border-right: none;
  }
  /* Imagen dentro de cada plan */
  .plan-img {
    width: 15%;
    height: auto;
  }
  /* Título grande en los planes */
  .plbs {
    color: #EEFB03;
    font-size: 3.5rem;
    margin-top: -1rem;
  }
  /* Texto descriptivo en los planes */
  .ulp {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px #5e5000;
    text-align: start;
  }
  /* Subtítulo o encabezado en los planes */
  .ph4 {
    font-size: 1.5em;
    display: grid;
    margin-top: auto;
    color: #7bffa7;
    align-items: center;
  }
  /*Contacto*/
  /* Estilos base para la sección de contacto */
  .contacto {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 370px) {
  .abrir-menu,
  .cerrar-menu {
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
