@charset "UTF-8";
.navbar {
  background-color: black !important;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  margin: 1.5rem;
}
.navbar .navbar-brand, .navbar .nav-link {
  color: white !important;
}
.navbar .navbar-toggler {
  border: none;
  color: white;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  font-size: 2rem;
  margin-top: 1rem;
}
.navbar .navbar-nav .nav-item {
  padding: 1rem;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #EEFB03 !important;
  text-decoration: none;
}
.navbar .navbar-collapse {
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .navbar-nav .nav-item {
    padding: 0 !important;
  }
  .navbar {
    font-size: 2rem;
    padding: 0;
    margin: 2rem;
  }
}
@keyframes bounce {
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
/* Estilos para los títulos */
.titulo-javier, .titulo-vazquez {
  margin-left: 3rem;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}
.titulo-javier.titulo-javier, .titulo-vazquez.titulo-javier {
  font-size: 10rem;
  margin-left: 1.5rem;
  margin-top: 7rem;
}
.titulo-javier.titulo-vazquez, .titulo-vazquez.titulo-vazquez {
  font-size: 11rem;
  margin-left: 3.125rem;
  margin-top: -4rem;
}

.texto-adicional {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #EEFB03;
  margin-left: 5vw;
  text-decoration: underline;
  margin-top: -3rem;
}

.batman {
  position: absolute;
}
.batman img {
  position: relative;
  width: 70vw;
  height: auto;
  z-index: -1;
  margin-left: 50vw;
  margin-top: -5vw;
}

/* Estilos para el botón de desplazamiento */
.btn-link {
  font-size: 2rem; /* Aumenta el tamaño del texto y el ícono */
  padding: 10px 20px; /* Añade espacio interno alrededor del contenido del botón */
  border-radius: 8px; /* Bordes redondeados para un diseño más suave */
  color: #EEFB03; /* Color del texto e ícono dentro del botón */
  background-color: #000000; /* Color de fondo azul */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  animation: bounce infinite 2s;
  margin-top: 5%;
}

/* Ajustes específicos para el ícono dentro del botón */
.bi-arrow-down-circle-fill {
  font-size: 50px; /* Ajusta el tamaño del ícono específicamente */
}

.btn-link:hover .bi-arrow-down-circle-fill {
  color: gold; /* Nuevo color para el ícono al pasar el ratón por encima */
}

/* Estilos personalizados para el botón 'Ver todos los proyectos' */
.boton-proyectos a.btn {
  background-color: #EEFB03; /* Azul Bootstrap primario, cambia esto por el color que prefieras */
  color: black; /* Color de texto */
  border: none; /* Elimina el borde si no lo necesitas */
  padding: 10px 20px; /* Añade algo de padding para hacer el botón más grande */
  font-weight: bold; /* Hace el texto más bold */
  transition: background-color 0.3s, color 0.3s; /* Suaviza la transición de colores */
  margin-top: -2rem;
  font-size: 2rem;
}

.boton-proyectos a.btn:hover, .boton-proyectos a.btn:focus {
  background-color: gold; /* Un azul más oscuro para el hover */
  color: black; /* Cambia el color del texto al hacer hover */
  font-size: 2.1rem;
}

.dual-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: start;
  margin-top: 10%;
}
.dual-section #myCarousel {
  grid-column: 2/2;
  margin-left: 20%;
  width: 60%;
  max-width: 100%;
  margin-top: 0;
}
.dual-section #myCarousel .carousel {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}
.dual-section #myCarousel .carousel .carousel-item img {
  width: 100%;
  height: auto;
}
.dual-section .content-wrapper {
  grid-column: 1/2;
  margin-left: 0;
  align-self: start;
}
.dual-section .content-wrapper .image-container, .dual-section .content-wrapper .text-container {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 1.1rem;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0;
}
.dual-section .content-wrapper .image-container img, .dual-section .content-wrapper .text-container img {
  width: 70%;
  margin-top: 0;
}

@media (max-width: 768px) {
  .titulo-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -3rem;
  }
  .btn-link {
    margin-top: 50%;
  }
  .titulo-javier, .titulo-vazquez {
    margin-left: 3rem;
  }
  .titulo-javier.titulo-javier, .titulo-vazquez.titulo-javier {
    font-size: 5.5rem;
    margin-left: 1.5rem;
    margin-top: -12rem;
  }
  .titulo-javier.titulo-vazquez, .titulo-vazquez.titulo-vazquez {
    font-size: 6rem;
    margin-left: 3.125rem;
    margin-top: -10%;
  }
  .index-cont {
    overflow: hidden;
  }
  .batman {
    position: relative;
    visibility: hidden;
  }
  .batman img {
    overflow: hidden;
  }
  .texto-adicional {
    font-size: 1.5rem;
    margin-left: 3vw;
    margin-top: -5%;
  }
  #myCarousel {
    margin-top: 0;
  }
  #myCarousel .carousel {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  #myCarousel .carousel .carousel-item img {
    width: 50%;
    height: auto;
  }
  .btn-link {
    font-size: 1.2rem;
    padding: 5px 10px;
    position: inherit;
    pointer-events: none;
  }
  .dual-section {
    display: block;
    margin-bottom: 20%;
  }
  .boton-proyectos a.btn {
    background-color: #EEFB03;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
  .boton-proyectos a.btn:hover, .boton-proyectos a.btn:focus {
    background-color: gold;
    color: black;
    font-size: 1.1rem;
  }
  .content-wrapper {
    grid-column: 1/2;
    margin-left: 0;
    align-self: start;
  }
  .content-wrapper .image-container, .content-wrapper .text-container {
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 1.1rem;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0;
  }
  .content-wrapper .image-container img, .content-wrapper .text-container img {
    width: 50%;
    margin-top: 0;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  margin: 0;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.slide:hover img {
  transform: scale(1.05);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
}
#service-body {
  overflow-y: hidden;
}

.contenedor-servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contenedor-titulo {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 15%;
}

.titulo-servicios {
  font-size: 7rem;
  color: white;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
}

.texto-servicios {
  font-size: 2rem;
  color: #EEFB03;
  text-decoration: underline;
  text-align: center;
  margin-top: -2rem;
}

.contenedor-grid {
  display: flex;
  justify-content: flex-end;
  padding: auto;
  margin-left: 20%;
}

.grid-servicios {
  display: grid;
  grid-template-columns: auto;
  margin-left: auto;
  margin-top: 10rem;
  margin-bottom: 4%;
}

.service-item {
  display: flex;
  align-items: center;
}

.service-item img {
  width: 10%;
  margin-right: 1rem;
  animation: pulse 2s ease-in-out infinite;
}

.additional-title {
  font-size: 1.5rem;
  color: #EEFB03;
  margin: 3% 0;
}

.p-ser {
  font-size: 1.3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .titulo-servicios {
    font-size: 5rem;
    left: 0;
    right: 0;
  }
  .contenedor-titulo {
    text-align: center;
    margin-right: 0rem;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: -10%;
  }
  .contenedor-servicios {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }
  .texto-servicios {
    font-size: 1.5rem;
    color: #EEFB03;
    text-decoration: underline;
    text-align: center;
    margin-top: -1rem;
  }
  .grid-servicios {
    display: block;
    grid-template-columns: auto;
    margin-left: -20%;
    margin-top: 2rem;
    margin-bottom: 4%;
  }
}
@keyframes gradient-shift {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.plan-container {
  display: grid;
  font-size: 1.5rem;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  margin-bottom: 1%;
}

.plan {
  display: grid;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  border-right: 1px solid #ccc;
}
.plan:last-child {
  border-right: none;
}

.plan-button {
  margin-top: auto;
  padding: 10px 20px;
  width: auto;
  display: grid;
  justify-content: space-around;
  background-image: linear-gradient(to right, gold, white, gold);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  animation: gradient-shift 3s ease-in-out infinite;
  transition: transform 1s ease, background-color 0.3s ease;
}
.plan-button:hover {
  background-color: gold;
  transform: scale(1.12);
  background-image: none;
}

.plan-img {
  width: 15%;
  height: auto;
  animation: pulse 2s ease-in-out infinite;
}

.plbs {
  color: #EEFB03;
  font-size: 3.5rem;
  margin-top: -1rem;
}

.ulp {
  color: white;
  font-size: 1.7rem;
  text-shadow: 2px 2px 2px #5e5000;
  text-align: start;
}

.ph4 {
  font-size: 1.6em;
  display: grid;
  margin-top: auto;
  color: #7bffa7;
  align-items: center;
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto form {
  width: 100%;
  max-width: 80%;
  font-size: 2.5rem;
}
.contacto label {
  margin-bottom: 10px;
  font-weight: bold;
}
.contacto input[type=text],
.contacto input[type=email],
.contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #EEFB03;
  border-radius: 5px;
  font-size: 1.5rem;
}
.contacto textarea {
  height: 50%;
}
.contacto button {
  display: flex;
  background-color: #EEFB03;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 3rem;
}
.contacto button:hover {
  background-color: rgb(255, 208, 0);
  transition: 0.2s ease;
}

.footer {
  color: #EEFB03;
  margin-top: 1% !important;
  text-align: center;
}

.footer a {
  color: #EEFB03;
}

.footer a:hover {
  color: gold; /* Cambio de color al pasar el ratón por encima */
  background-color: transparent; /* Mantiene el fondo transparente en hover */
}

.btn-outline-light {
  border-color: black; /* Borde blanco para los botones */
  border: 30px !important;
}

.btn-outline-light:hover {
  background-color: #333; /* Fondo más oscuro en hover */
}

/* Estilos Base */
body {
  background-color: black;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 2rem;
  position: relative;
}

/* Estilo global para listas */
ul {
  text-align: right;
}

/* Titulo páginas*/
.titulo-paginas {
  font-size: 7rem;
  color: transparent;
  text-align: center;
  background-image: linear-gradient(to right, gold, white, white, gold);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 8s linear infinite;
  margin-top: 5rem;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: -200% center;
  }
}
/* Texto debajo de titulos */
.texto-paginas {
  font-size: 2rem;
  color: #EEFB03;
  text-decoration: underline;
  text-align: center;
  margin-top: -1.5rem;
}

/* Footer: Estilos para el pie de página, asegurando que se mantenga al final y ocupe el ancho completo */
footer {
  margin-top: auto;
  width: 100%;
}

/* Contenedor dentro del footer para posicionar el texto o contenido adicional */
.p-footer {
  position: relative;
  z-index: 10;
}

/* Estilos específicos para el párrafo dentro del contenedor del footer */
.p-footer p {
  font-size: 1rem;
  margin: 0;
}

/*Estilos específicos de cada página*/
/* Media query para pantallas pequeñas */
@media screen and (max-width: 768px) {
  /*inicio*/
  .batman img {
    width: 90%;
  }
  .logo {
    display: none;
  }
  /*Logo*/
  /* Estilos para el logotipo */
  .logo {
    position: relative;
    margin-top: -3rem;
    margin-left: -2rem;
  }
  .logo img {
    width: 35%;
    height: auto;
    max-width: 100%;
  }
  /* Estilos para el contenedor de títulos de las páginas */
  .contenedor-paginas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Estilos para los títulos y textos de las páginas */
  .titulo-paginas,
  .texto-paginas {
    margin-top: 0%;
    padding: 0;
  }
  .titulo-paginas {
    font-size: 5rem;
    color: white;
  }
  /* Estilos para el texto debajo de los títulos */
  .texto-paginas {
    font-size: 1.5rem;
    margin-top: -1.5rem;
  }
  /*Proyectos*/
  .grid-container {
    overflow-y: auto;
  }
  .slide img {
    object-fit: contain; /* Hace que la imagen se ajuste dentro del contenedor sin cortarse */
    height: auto; /* Ajusta la altura para mantener la proporción */
    max-height: 50vh; /* Limita la altura de la imagen a un porcentaje de la altura de la ventana */
  }
  /*Servicios*/
  /*Planes*/
  /* Contenedor para los planes, usando grid para la disposición */
  .plan-container {
    display: block;
    font-size: 1.2rem;
    justify-content: flex-start;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    text-align: left;
    margin-top: 3rem;
  }
  /* Estilos para cada plan individual */
  .plan {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    border-right: 1px solid #27ad4f;
  }
  /* Botón dentro de cada plan */
  .plan-button {
    margin-top: auto;
    padding: auto;
    width: auto;
    display: grid;
    justify-content: space-around;
  }
  /* Efecto al pasar el mouse sobre el botón */
  .plan-button:hover {
    background-color: #EEFB03;
    transition: 0.5s ease;
  }
  /* Estilos para el último plan del contenedor */
  .plan:last-child {
    border-right: none;
  }
  /* Imagen dentro de cada plan */
  .plan-img {
    width: 15%;
    height: auto;
  }
  /* Título grande en los planes */
  .plbs {
    color: #EEFB03;
    font-size: 3.5rem;
    margin-top: -1rem;
  }
  /* Texto descriptivo en los planes */
  .ulp {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px #5e5000;
    text-align: start;
  }
  /* Subtítulo o encabezado en los planes */
  .ph4 {
    font-size: 1.5em;
    display: grid;
    margin-top: auto;
    color: #7bffa7;
    align-items: center;
  }
  /*Contacto*/
  /* Estilos base para la sección de contacto */
  .contacto {
    margin-top: 3rem;
  }
}
@media screen and (max-width: 370px) {
  .abrir-menu,
  .cerrar-menu {
    margin-right: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
