// styles.scss
@use 'variables' as *;

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        width: 100%;
        max-width: 80%;
        font-size: 2.5rem;
    }

    label {
        margin-bottom: 10px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 2px solid $amarillo;
        border-radius: 5px;
        font-size: 1.5rem;
    }

    textarea {
        height: 50%;
    }

    button {
        display: flex;
        background-color: $amarillo;
        color: $negro;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 3rem;

        &:hover {
            background-color: rgb(255, 208, 0);
            transition: 0.2s ease;
        }
    }
    @media screen and (max-width: 768px) {
        /* Estilos base para la sección de contacto */
        .contacto {
            margin-top: 3rem;
        }
        }
}
