@use 'variables' as *; // Importa todas las variables sin necesidad de prefijo

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    right: 0;
    position: absolute;
    font-family: $fuente-principal; // Uso de la variable para la fuente

    li {
        a {
            color: $blanco; // Uso de la variable para el color
            text-decoration: none;
            transition: color 0.3s ease;
            padding: 0.5em;
            font-size: 1.9rem;

            // Estilo al hacer hover sobre los enlaces
            &:hover {
                text-decoration: underline;
                color: $amarillo; // Uso de la variable para el color en hover
            }
        }

        // Estilos específicos para hover en li que afecta a los enlaces dentro
        &:hover a {
            text-decoration: underline;
            color: $amarillo; // Asegura que el color en hover es el mismo
        }

        // Estilos para el primer enlace de la lista de navegación
        &:first-child a {
            color: $amarillo; // Uso de la variable para el color
            margin-right: 4rem;
        }
    }
}
@media (max-width: 768px){
.header {
    position: relative;
}
.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 3.5rem;
    background-color: transparent;
    color: white;
    position: relative;
    margin-left: 82%;
}
  /* Estilos para la navegación en vista móvil */
.nav {
    position: absolute;
    top: 65%;
    right: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto;
    align-items: end;
    visibility: hidden;
    margin-top: 4rem;
    margin-right: 2rem;
}
  /* Estilo para el primer elemento de la lista de navegación en móvil */
.nav-list li:first-child a {
    color: #EEFB03;
    margin-right: 0;
}
  /* Estilos para mostrar la navegación cuando está activa en móvil */
.nav.visible {
    opacity: 1;
    visibility: visible;
}
  /* Ajuste de la lista de navegación  */
.nav-list li a {
    padding: 0;
    font-size: 1.5rem;
}
// Estilos para los botones de menú en la versión móvil
.abrir-menu,
.cerrar-menu,
#cerrar {
    display: none;
}
}