@use 'variables' as *;

@keyframes gradient-shift {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.plan-container {
    display: grid;
    font-size: 1.5rem;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
    margin-bottom: 1%;
}

.plan {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-right: 1px solid #ccc;

    &:last-child {
        border-right: none;
    }
}

.plan-button {
    margin-top: auto;
    padding: 10px 20px;
    width: auto;
    display: grid;
    justify-content: space-around;
    background-image: linear-gradient(to right, gold, white, gold);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    border: none !important;
    cursor: pointer;
    font-size: 3rem;
    animation: gradient-shift 3s ease-in-out infinite;
    transition: transform 1s ease, background-color 0.3s ease;

    &:hover {
        background-color: gold; // Color dorado sólido para el fondo en hover
        transform: scale(1.12); // Agrandar el botón
        background-image: none; // Eliminar el gradiente para mostrar color sólido
    }
}


.plan-img {
    width: 15%;
    height: auto;
    animation: pulse 2s ease-in-out infinite;
}

.plbs {
    color: $amarillo;
    font-size: 3.5rem;
    margin-top: -1rem;
}

.ulp {
    color: rgb(255, 255, 255); // Texto blanco para mejor contraste
    font-size: 1.7rem; // Tamaño de fuente para mejor legibilidad
    font-weight: bold; // Negrita para mayor énfasis
    text-align: center; // Alineación a la izquierda para estructura clara
    line-height: 1.8; // Espaciado de línea para facilitar la lectura
    padding: 20px; // Padding para dar espacio y estructura
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.2); // Fondo oscuro para resaltar el texto
    border: 10px solid gold; // Borde izquierdo en dorado para destacar
    border-radius: 50px; // Bordes redondeados para un diseño más suave
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Sombra de caja para efecto 3D
    transition: all 0.3s ease-in-out; // Transición suave para interacciones
    letter-spacing: 1px;

    &:hover {
        background-color: rgba(0, 225, 255, 0.3); // Oscurecer fondo al pasar el ratón
        transform: scale(1.05); // Aumento ligero al pasar el ratón para efecto dinámico
    }
}



.ph4 {
    font-size: 1.6em;
    display: grid;
    margin-top: auto;
    color: #7bffa7;
    align-items: center;
}


@media screen and (max-width: 768px) {

            /* Contenedor para los planes, usando grid para la disposición */
            .plan-container {
                display: block;
                font-size: 1.2rem;
                justify-content:flex-start;
                grid-gap: 0;
                text-align: left;
                margin-top: 3rem;
            }
            
            /* Estilos para cada plan individual */
            .plan {
                font-size: 2rem;
            }
            
            /* Botón dentro de cada plan */
            .plan-button {
                padding: auto;
            }
            
            /* Efecto al pasar el mouse sobre el botón */
            .plan-button:hover {
                background-color: #EEFB03;
                transition: 0.5s ease;
            }
}