@use 'variables' as *;

@keyframes gradient-shift {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.plan-container {
    display: grid;
    font-size: 1.5rem;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
}

.plan {
    display: grid;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    border-right: 1px solid #ccc;

    &:last-child {
        border-right: none;
    }
}

.plan-button {
    margin-top: auto;
    padding: 10px 20px;
    width: auto;
    display: grid;
    justify-content: space-around;
    background-image: linear-gradient(to right, gold, white, gold);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    animation: gradient-shift 3s ease-in-out infinite;
    transition: transform 1s ease, background-color 0.3s ease;

    &:hover {
        background-color: gold; // Color dorado sólido para el fondo en hover
        transform: scale(1.1); // Agrandar el botón
        background-image: none; // Eliminar el gradiente para mostrar color sólido
    }
}


.plan-img {
    width: 15%;
    height: auto;
    animation: pulse 2s ease-in-out infinite;
}

.plbs {
    color: $amarillo;
    font-size: 3.5rem;
    margin-top: -1rem;
}

.ulp {
    color: $blanco;
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px #5e5000;
    text-align: start;
}

.ph4 {
    font-size: 1.6em;
    display: grid;
    margin-top: auto;
    color: #7bffa7;
    align-items: center;
}
