// styles.scss
@use 'variables' as *;

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; // Elimina el espacio entre las celdas si es lo que deseas
    margin: 0; // Asegura que no haya márgenes extra
}

.slide img {
    width: 100%;
    height: auto; // Asegura que las imágenes se ajusten verticalmente
    object-fit: cover; // Mantiene las imágenes recortadas para que llenen el espacio
    transition: transform $transition-speed ease;
}

.slide:hover img {
    transform: scale(1.05); // Efecto zoom sutil al hacer hover
}
