// styles.scss
@use 'variables' as *;

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.07);
    }
}

#service-body {
    overflow-y: hidden;
}

.contenedor-servicios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contenedor-titulo {
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 15%;
}

.titulo-servicios {
    font-size: 7rem;
    color: $blanco;
    background-image: linear-gradient(to right, gold, white, white, gold ,);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s linear infinite;
}

.texto-servicios {
    font-size: 2rem;
    color: $amarillo;
    text-decoration: underline;
    text-align: center;
    margin-top: -2rem;
}

.contenedor-grid {
    display: flex;
    justify-content: flex-end;
    padding: auto;
    margin-left: 20%;
}

.grid-servicios {
    display: grid;
    grid-template-columns: auto;
    margin-left: auto;
    margin-top: 3rem;
    margin-bottom: 4%;
}

.service-item {
    display: flex;
    align-items: center;
}

.service-item img {
    width: 15%;
    margin-right: 1rem;
    animation: pulse 2s ease-in-out infinite;
}

.additional-title {
    font-size: 1.5rem;
    color: $amarillo;
    margin: 3% 0;
}

.p-ser {
    font-size: 1.3rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 768px) {
    .titulo-servicios {
        font-size: 5rem;
        left: 0;
        right: 0;
    }
    .contenedor-titulo {
        text-align: center;
        margin-right: 0rem;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: -10%;
    }
    .contenedor-servicios {
        display: block;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
    }
    .texto-servicios {
        font-size: 1.5rem;
        color: #EEFB03;
        text-decoration: underline;
        text-align: center;
        margin-top: -1rem;
    }
    .grid-servicios {
        display: block;
        grid-template-columns: auto;
        margin-left: -20%;
        margin-top: 2rem;
        margin-bottom: 4%;
    }
}
