@use 'navbar';
@use 'inicio';
@use 'proyectos';
@use 'servicios';
@use 'planes';
@use 'contacto';
@use 'variables';
@use '_footer';
/* Estilos Base */
body {
    background-color: black; 
    color: white;
    font-family: "Bebas Neue", sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
                /* Header*/
        
        .header {
            display: flex;
            justify-content: space-between;
            align-items: end;
            padding: 2rem;
            position: relative;
        }
        
        /* Estilo global para listas */
        ul {
            text-align: right;
        }
        
                /* Titulo páginas*/
                .titulo-paginas {
                    font-size: 7rem;
                    color: transparent;
                    text-align: center;
                    background-image: linear-gradient(to right, gold, white, white, gold ,);
                    background-size: 200% auto;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    animation: shine 8s linear infinite;
                    margin-top: 5rem;
                }
                /* Efecto de transición*/
                @keyframes shine {
                    from {
                        background-position: 200% center;
                    }
                    to {
                        background-position: -200% center;
                    }
                }
                

        /* Texto debajo de titulos */
        
        .texto-paginas {
            font-size: 2rem;
            color: variables.$amarillo;
            text-decoration: underline;
            text-align: center;
            margin-top: -1.5rem;
        }
        
            /* Media query para pantallas pequeñas */
            @media screen and (max-width: 768px) {
        
        /* Estilos para los títulos y textos de las páginas */
        .titulo-paginas,
        .texto-paginas {
            margin-top: 0%;
            padding: 0;
        }
        .titulo-paginas {
            font-size: 5rem;
            color: white;
        }
        .texto-paginas {
            font-size: 1.5rem;
            margin-top: -1.5rem;
        }
        @media screen and (max-width: 370px) {
            .abrir-menu,
            .cerrar-menu {
            margin-right: 2rem;
            }
        
        }
    }